
@model IEnumerable<NKSLK_CS.CongNhan>
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Table</h3>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ngay_sinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.gioi_tinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.chuc_vu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.que_quan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.luong_hop_dong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.luong_bao_hiem)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngay_sinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gioi_tinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.chuc_vu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.que_quan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.luong_hop_dong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.luong_bao_hiem)
                            </td>
                            <td>
                                <i class="fa fa-wrench" data-toggle="modal" data-target="#myModalEdit"></i>
                                <i class="fa fa-trash" data-toggle="modal" data-target="#myModal"></i>
                            </td>
                        </tr>
                    }
                </table>
            </table>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa?</h5>
            </div>
            <div class="modal-footer">

                <form>
                    <button type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới công nhân
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal ">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ten, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 2</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="button" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Chỉnh sửa
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal ">
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 1</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 2</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="button" class="btn btn-success">Cập nhật</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
