
@model IEnumerable<NKSLK_CS.CongNhan>
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Table</h3>
            <form style="float: right; margin-top:-48px;">
                <input type="text" class="form-control search" placeholder=" Search">
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngay_sinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gioi_tinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.chuc_vu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.que_quan)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_sinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gioi_tinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.chuc_vu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.que_quan)
                        </td>
                        <td>
                            <i class="fa fa-wrench" data-toggle="modal" data-target="#myModalEdit"></i>
                            <i class="fa fa-trash" data-toggle="modal" data-target="#myModal"></i>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa?</h5>
            </div>
            <div class="modal-footer">

                <form>
                    <button type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12"> 
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới công nhân
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" method="post" action="/CongNhans/Create">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Tên</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="ten" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Ngày sinh</label>
                                        <div class="col-lg-6">
                                            <input type="date" placeholder="" name="ngay_sinh" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Giới tính</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="gioi_tinh" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Chức vụ</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="chuc_vu" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Quê quán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="que_quan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">lương hợp đồng</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="luong_hop_dong" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Lương bảo hiểm</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="luong_bao_hiem" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Phòng ban</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="id_phong_ban" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Phường</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="id_phuong" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Chỉnh sửa
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal ">
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 1</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 2</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="button" class="btn btn-success">Cập nhật</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
