@model IEnumerable<NKSLK_CS.CongNhan>
@{
    var phongbans = (List<NKSLK_CS.PhongBan>)ViewBag.phongban;
    var phuongs = (List<NKSLK_CS.Phuong>)ViewBag.phuong;
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Công Nhân</h3>
        </div>
        <div class="formSearch" style="margin-top: 10px; margin-right: 150px; margin-left: 150px; ">
            <form action="/CongNhans/Search" method="post">
                <div class="searchDetail" style="width: 40%;">
                    <select class="w3-select w3-border" name="category" required>
                        <option value="" disabled selected>Chọn chủ đề...</option>
                        <option value="1"> Tên công nhân </option>
                        <option value="2"> Tuổi </option>
                        <option value="3"> Phòng ban </option>
                        <option value="4"> Quê quán </option>
                    </select>
                </div>
                <div class="searchInput" style="width: 40%; float: right; display: flex; margin-top: -40px; ">
                    <input type="Text" class="form-control mx-sm-3" value="" name="searchString" placeholder="Nhập thông tin cần tìm">
                    <button type="submit" class="btn btn-outline-success" value="Search">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        Tên công nhân
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Phòng Ban
                    </th>
                    <th>
                        Chức vụ
                    </th>
                    <th>
                        Quê quán
                    </th>
                    <th>
                        Huyện
                    </th>
                    <th>
                        Action
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_sinh, "{dd/mm/yyyy}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gioi_tinh)
                        </td>
                        @foreach (PhongBan icon in phongbans.Where(n => n.id == item.id_phong_ban))
                        {
                            <td>
                                @icon.ten
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.chuc_vu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.que_quan)
                        </td>
                        @foreach (Phuong icon in phuongs.Where(n => n.id == item.id_phuong))
                        {
                            <td>
                                @icon.ten
                            </td>
                        }
                        <td>
                            <a href="/CongNhans/Details/@item.id" class="btn-large"><i class="fa fa-info"></i></a>
                            <a href="/CongNhans/Edit/@item.id" class="btn-edit"><i class="fa fa-wrench"></i></a>
                            <a href="/CongNhans/Delete/@item.id" class="btn-delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*partialView*@
    </div>
</div>

<div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        @*partialView*@
    </div>
</div>


<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới công nhân
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" method="post" action="/CongNhans/Create">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Họ tên</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="ten" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Ngày sinh</label>
                                        <div class="col-lg-6">
                                            <input type="date" placeholder="" name="ngay_sinh" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Giới tính</label>
                                        <div class="col-lg-6">
                                            <select class="w3-select w3-border" name="gioi_tinh" required>
                                                <option value="nam" selected>Nam</option>
                                                <option value="nữ">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Chức vụ</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="chuc_vu" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Quê quán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="que_quan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Lương hợp đồng</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="luong_hop_dong" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Lương bảo hiểm</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="luong_bao_hiem" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Phòng ban</label>
                                        <div class="col-lg-6">
                                            <select class="w3-select w3-border" name="id_phong_ban" required>
                                                <option value="" disabled selected>Choose your option</option>
                                                @foreach (PhongBan item in phongbans)
                                                {
                                                    <option value=@item.id>@item.ten</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Phường</label>
                                        <div class="col-lg-6">
                                            <select class="w3-select w3-border" name="id_phuong" required>
                                                <option value="" disabled selected>Choose your option</option>
                                                @foreach (Phuong item in phuongs)
                                                {
                                                    <option value=@item.id>@item.ten</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.btn-edit').click(function (e) {

            e.preventDefault();

            var $modal = $('#myModalEdit');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    });
</script>
<script>
    $(document).ready(function () {

        $('.btn-delete').click(function (e) {

            e.preventDefault();

            var $modal = $('#myModalDelete');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    });
</script>
