@model NKSLK_CS.CongNhan

<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Chỉnh sửa
                    </header>
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "CongNhans"))
                        {
                            <div class="form-group has-success">
                                <label class="col-lg-5 control-label">Họ tên</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.ten" name="ten" />
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-5 control-label">Ngày sinh</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.ngay_sinh" name="ngay_sinh" />
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-5 control-label">Chức vụ</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.chuc_vu" name="chuc_vu" />
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-5 control-label">Lương hợp đồng</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.luong_hop_dong" name="luong_hop_dong" />
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-5 control-label">Lương bảo hiểm</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.luong_bao_hiem" name="luong_bao_hiem" />
                                </div>
                            </div>
                            @*<div class="form-group has-success">
                                <label class="col-lg-5 control-label">Phòng Ban</label>
                                <div class="col-lg-6">
                                    @Html.DropDownList("id_phong_ban", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.id_phong_ban, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                            @*<div class="form-group has-success">
                                <label class="col-lg-5 control-label">Phòng Ban</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" value="@Model.Phuong.ten" name="id_phuong" />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <button type="submit" class="btn btn-success">Cập nhật</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
