@model IEnumerable<NKSLK_CS.DanhMucCongViec>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Danh mục công việc</h3>
            <form style="float: right; margin-top:-48px;">
                <input type="text" class="form-control search" placeholder=" Search">
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dinh_muc_khoan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.don_vi_khoan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.he_so_khoan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dinh_muc_lao_dong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.don_gia)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dinh_muc_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.don_vi_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.he_so_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dinh_muc_lao_dong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.don_gia)
                        </td>
                        <td>
                            <a href="/DanhMucCongViecs/Edit/@item.id" class="btn-edit"><i class="fa fa-wrench"></i></a>
                            <a href="/DanhMucCongViecs/Delete/@item.id" class="btn-delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*partialView*@
    </div>
</div>

<div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        @*partialView*@
    </div>
</div>

<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới danh mục công việc
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" method="post" action="/DanhMucCongViecs/Create">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Tên</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="ten" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Định mức khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="dinh_muc_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Đơn vị khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="don_vi_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Hệ số khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="he_so_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Định mức lao động</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="dinh_muc_lao_dong" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-edit').click(function (e) {
            e.preventDefault();
            var $modal = $('#myModalEdit');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');
            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };
            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.btn-delete').click(function (e) {
            e.preventDefault();
            var $modal = $('#myModalDelete');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');
            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };
            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
    });
</script>