
@model PagedList.IPagedList<NKSLK_CS.DanhMucCongViec>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["msg"])
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Danh mục công việc</h3>
        </div>
        <div class="formSearch" style="margin-top: 10px; margin-right: 150px; margin-left: 150px; ">
            <form action="/DanhMucCongViecs/Search" method="post">
                <div class="searchDetail" style="width: 40%;">
                    <select class="w3-select w3-border" name="category" required>
                        <option value="" disabled selected>Chọn chủ đề...</option>
                        <option value="1"> Tên danh mục công việc </option>
                    </select>
                </div>
                <div class="searchInput" style="width: 40%; float: right; display: flex; margin-top: -40px; ">
                    <input type="Text" class="form-control mx-sm-3" value="" name="searchString" placeholder="Nhập thông tin cần tìm">
                    <button type="submit" class="btn btn-outline-success" value="Search">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        Tên danh mục công việc
                    </th>
                    <th>
                        Định mức khoán
                    </th>
                    <th>
                        Đơn vị khoán
                    </th>
                    <th>
                        Hệ số khoán
                    </th>
                    <th>
                        Định mức lao động
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dinh_muc_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.don_vi_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.he_so_khoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dinh_muc_lao_dong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.don_gia)
                        </td>
                        <td>
                            <a href="/DanhMucCongViecs/Edit/@item.id" class="btn-load"><i class="fa fa-wrench"></i></a>
                            <a href="/DanhMucCongViecs/Delete/@item.id" class="btn-load"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </table>
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            <style>
                .pagination-container {
                    text-align: center;
                }
            </style>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal_dialog" style="width: 45%; margin-left: auto; margin-right: auto">
        @*partialView*@
    </div>
</div>

<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới danh mục công việc
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" method="post" action="/DanhMucCongViecs/Create">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Tên</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="ten" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Định mức khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="dinh_muc_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Đơn vị khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="don_vi_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Hệ số khoán</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="he_so_khoan" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">Định mức lao động</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="dinh_muc_lao_dong" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-load').click(function (e) {
            e.preventDefault();
            var $modal = $('#myModal');
            var $modalDialog = $('.modal_dialog');
            var href = $(this).prop('href');
            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };
            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });
    });
</script>