@model IEnumerable<NKSLK_CS.SanPham>

<script>
    $(document).ready(function () {

        $('.btn-edit').click(function (e) {

            e.preventDefault();

            var $modal = $('#myModalEdit');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    });
</script>
<script>
    $(document).ready(function () {

        $('.btn-delete').click(function (e) {

            e.preventDefault();

            var $modal = $('#myModalDelete');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    });
</script>

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Sản Phẩm</h3>
        </div>
        <div class="formSearch" style="margin-top: 10px; margin-right: 150px; margin-left: 150px; ">
            <form>
                <div class="searchDetail" style="width: 40%;">
                    <select class="w3-select w3-border" name="id_phong_ban" required>
                        <option value="" disabled selected>Chọn chủ đề...</option>
                        <option value=""> Tên công nhân </option>
                        <option value=""> Tuổi </option>
                        <option value=""> Phòng ban </option>
                    </select>
                </div>
                <div class="searchInput" style="width: 40%; float: right; display: flex; margin-top: -40px; ">
                    <input type="Text" class="form-control mx-sm-3" value="" name="searchString" placeholder="Nhập thông tin cần tìm">
                    <button type="submit" class="btn btn-outline-success" value="Search">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.so_dang_ky)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngay_dang_ky)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngay_san_xuat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.han_su_dung)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quy_cach)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.so_dang_ky)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_dang_ky)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_san_xuat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.han_su_dung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quy_cach)
                        </td>
                        <td>
                            <a href="/SanPhams/Edit/@item.id" class="btn-edit"><i class="fa fa-wrench"></i></a>
                            <a href="/SanPhams/Delete/@item.id" class="btn-delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @*partialView*@
    </div>
</div>

<div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        @*partialView*@
    </div>
</div>


<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới sản phẩm
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" method="post" action="/SanPhams/Create">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Tên</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="ten" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Số đăng ký</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="so_dang_ky" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Ngày đăng ký</label>
                                        <div class="col-lg-6">
                                            <input type="date" placeholder="" name="ngay_dang_ky" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Ngày sản xuất</label>
                                        <div class="col-lg-6">
                                            <input type="date" placeholder="" name="ngay_san_xuat" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Hạn sử dụng</label>
                                        <div class="col-lg-6">
                                            <input type="date" placeholder="" name="han_su_dung" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-5 control-label">Quy cách</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" name="quy_cach" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
